.main-container {
  background: #020e3a;
  
  margin: auto;
}
.info {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  /* width: 80%; */
    text-align: center;
    background: #020e3a;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.header h3{
  color: cyan;
  margin: auto;
}
/* .player-profile {
  border-right: 2px dashed #018188;
} */
ul {
  margin-right: 166px;
}
ul a {
  text-decoration: none;
  font-size: 20px;
  line-height: 62px;
  padding: 0px 10px;
  color: cyan;
}